@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* .sidebar-icon {
  font-size: 1.25rem; /* Adjust as needed */

  .bg-nav-lab{
    background-color:#fff ;
  }
  .text-dlab-blue{
    color:#618cb7 ;
  }
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .min-w-36rm {
    min-width: 35rem;
  }
  .max-w-36rm {
    max-width: 39rem;
  }

  .gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }

  /* For small devices (phones) */
@media only screen and (max-width: 600px) {
  .container {
      width: 90%; /* adjust as needed */
  }

  .box {
      width: 100%; /* or any other width suitable for small screens */
  }
}

/* For medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
      width: 80%; /* adjust as needed */
  }

  .box {
      width: 50%; /* or any other width suitable for medium screens */
  }
}

/* For large devices (desktops) */
@media only screen and (min-width: 1025px) {
  .container {
      width: 80%; /* adjust as needed */
  }

  .box {
      width: 20%; /* or any other width suitable for large screens */
  }
}
